
.logo{
    width: 50px;
    height: 50px;
}


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 100%;
    padding-top: 20px;
    background-color: #005399;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


main .presentacion{
    padding: 16%;
    background-image: url(../img/image.png);
}

.menu .seleccion{
    display: flex;
    justify-content: space-around;
    border: solid red 3px;
}

.menu .mascotas{
    display: flex;
    justify-content: center;
    
    border: solid blue 3px;
    
    div{
        text-align: center;
        margin-right: 3%;
        border: solid red 3px;
    }
    
    img{
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
}

