/* ---------- Fuentes que se van a utilizar ------------------ */
@font-face {
    font-family: "Helvetica neue";
    src: url(../fonts/HelveticaNeueUltraLight.ttf);
}
@font-face {
    font-family: 'Acumin pro';
    src: url(../fonts/Acumin-RPro.ttf);
}

h2{
    font-family: "Helvetica neue", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;   
    font-size: 30px;
}

p{
    font-family: 'Acumin pro', Arial, Helvetica, sans-serif ;
    font-size: 18px;
    transition: 1s;
}

a{
    text-decoration: none;
    font-family: 'Acumin pro', Arial, Helvetica, sans-serif ;
    color: black;
    font-size: 20px;
}


/*----------------BOTONES-------------*/
.boton:hover{
    color: #B65D00;
    padding-right: 20px;
    transition: 0.5s;
}

.navs {
    margin-left: 25px;
    text-decoration: none;
    padding: 15px;
    position: relative;
    transition: transform 0.2s ease-out;
}

.navs::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
}

.navs:hover::after {
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid white;
}

.navs:hover {
    color: white;
    transform: translateY(-2px);
}


.logo{
    width: 50px;
    height: 50px;
}



body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 100%;
    padding: 20px 0px;
    background-color: #005399;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main .presentacion{
    padding: 16%;
    background-image: url(../img/image.png);
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .seleccion{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 20px 0px;
    width: 70%;
}

.menu .mascotas{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
    div{
        text-align: center;  
    }
    
    img{
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
}

.distribuidores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.distribuidores .texto{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 60px;
    padding-bottom: 0px;
}

.marcas{
    width: 70%;
    
}

.m1,.m2{
    width: 100%;
    img{
        width: 33%;
        height: 150px;
    }
}
